.componentContainer {
    max-width: 100% !important;
    height: 390vh;
    top: 300%;
    position: absolute !important;
    z-index: 996;
    transform: translate(0, -50%);
    padding: 2rem 0 10rem 0 !important;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    gap: 15rem;
    background-color: black;
}

.componentContainerBg {
    background-image: url(https://images.pexels.com/photos/2277420/pexels-photo-2277420.jpeg);
    background-size: cover;
    max-width: 100% !important;
    height: 100%;
    position: absolute;
    z-index: 1;
    opacity: 0.2;

}

.scrollButton {
    background-color: white !important;
    color: black !important;
    opacity: 1 !important;
    position: absolute !important;
    width: 5rem;
    height: 5rem;
    top: -3.7%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50% !important;
    animation: upDown 1500ms infinite forwards linear;
    z-index: 997;
}

.scrollButton2 {
    background-color: white !important;
    color: black !important;
    opacity: 1 !important;
    position: absolute !important;
    width: 5rem;
    height: 5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50% !important;
    animation: upDown 1500ms infinite forwards linear;
    z-index: 997;
}

.scrollButton3 {
    background-color: white !important;
    color: black !important;
    opacity: 1 !important;
    position: absolute !important;
    width: 5rem;
    height: 5rem;
    top: 74%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50% !important;
    animation: upDown 1500ms infinite forwards linear;
    z-index: 997;
}

.scrollButton4 {
    background-color: white !important;
    color: black !important;
    opacity: 1 !important;
    position: absolute !important;
    width: 5rem;
    height: 5rem;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50% !important;
    animation: upDown 1500ms infinite forwards linear;
    z-index: 997;
}

.scrollButton6 {
    background-color: white !important;
    color: black !important;
    position: fixed !important;
    z-index: 999 !important;
    left: 95%;
    top: 90%;
    transform: translate(-50%, -50%) rotateZ(180deg);
    border-radius: 50% !important;
    height: 4rem;
    width: 4rem
}

.centerLine {
    width: 1px;
    background-color: rgb(100, 100, 100);
    position: absolute;
    z-index: 1;

}

.c1 {
    top: -2%;
    height: 30%;
}

.c2 {
    top: 31.7%;
    height: 3%;
}

.c3 {
    top: 51.5%;
    height: 4%;
}

.c4 {
    top: 75.5%;
    height: 2.3%;
}

/* For mobile Chrome */
@media screen and (max-width: 390px) and (-webkit-min-device-pixel-ratio:0) {
    .componentContainer {
        top: 335% !important;
    }
    .scrollButton6 {
        left: 50% !important;
    }

    .c1 {
        top: -2%;
        height: 0%;
    }
}

