.componentContainer2 {
    padding: 0rem 0 10rem 0 !important;
    height: 550vh;
    max-width: 100% !important;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    gap: 5rem;
    background-color: black;
    z-index: 990;
}

.scrollButton {
    height: 4rem;
    width: 4rem;
    position: absolute !important;
    transform: translate(-50%, -50%);
    border-radius: 50% !important;
    background-color: white !important;
    z-index: 998;
}

.scrollIcon {
    scale: 1.3;
    color: black
}

.scrollBtn1 {
    top: 90vh;
    left: 50%;
}

.scrollBtn2 {
    position: fixed !important;
    bottom: 3vh;
    right: 3%;
    scale: 0.8;
    transform: rotateZ(180deg);
}

.scrollBtn2:hover {
    animation: none; 
}

.infoRef {
    position: absolute !important;
    top: 90vh;
}

.startRef {
    position: absolute !important;
    top: 0;
}