.contactContainer {
    max-width: 100% !important;
    height: 100vh;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.form {
    height: 70%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 0 !important;
    background-color: rgba(255, 255, 255, 0.05);
    position: relative;
}

.form::before, .formBorder {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 997;
    transition: opacity 300ms;
    opacity: 0;
}

/*.form::before {
    background: radial-gradient(
        800px circle at var(--mouse-x) var(--mouse-y),
        rgba(255,255,255, 0.01),
        transparent 40%
    );
    z-index: 998;
}*/

.formBorder {
    background: radial-gradient(
        400px circle at var(--mouse-x) var(--mouse-y),
        rgba(255,255,255, 0.5),
        transparent 100%
    );
    z-index:995;
    
}

.form:hover::before, .form:hover > .formBorder, .formBg{
    opacity: 1;
    transition-duration: 3s;
}

.formContent {
    height: calc(100% - 0.3rem);
    max-width: calc(100% - 0.3rem) !important;
    position: relative;
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 !important;
    gap: 3rem;
    border-radius: inherit;
    background-color: black;
    
    z-index: 997;
    transition-duration: 0.5s;
}

.formBg {
    height: calc(100% - 0.2rem);
    max-width: calc(100% - 0.2rem) !important;
    border-radius: inherit;
    z-index: 996;
    position: absolute;
    background-position: 0, 35%;
    background-size: cover;
    opacity: 0.2;
    transition-duration: 1s;
    filter: grayscale(60%);
}

.form:hover > .formBg {
    opacity: 0.9 !important;
    filter: grayscale(0%);
}


