.infoContainer {
    max-width: 100% !important;
    height: 100vh;
    z-index: 995;
    display: flex !important;
    align-items: center;
    flex-direction: row;
    justify-content:center;
    gap: 0;
}

.ponudaHeader {
    color: white;
    position: absolute;
    top: 2%;
    font-size: 1.7rem;
    font-weight: 500;
}

.infoIconText {
    text-align: center;
    color: white;
    display: flex !important;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: 400;
    text-wrap: wrap;
}

/*.infoContainer:hover, .cardBorder {
    opacity: 1 !important;
}*/

.infoIcons {
    display: flex !important;
    max-width: 20% !important;
    height: 100%;
    flex-direction: column;
    align-items: flex-end;
    justify-content: baseline;
    padding: 10rem 0 10rem 0;
    gap: 10rem;
}

.infoGrid {
    justify-content: center;
    padding-bottom: 2rem;
}


.card {
    height: 18rem;
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 0 !important;
    background-color: rgba(255, 255, 255, 0.05);
    position: relative;
}

.card::before, .cardBorder {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 997;
    transition: opacity 300ms;
    opacity: 0;
}

.card::before {
    /*background: radial-gradient(
        800px circle at var(--mouse-x) var(--mouse-y),
        rgba(255,255,255, 0.01),
        transparent 40%
    );
    z-index: 998;*/
}

.cardBorder {
    background: radial-gradient(
        400px circle at var(--mouse-x) var(--mouse-y),
        rgba(255,255,255, 1),
        transparent 100%
    );
    z-index:996;
    
}

.card:hover::before, .card:hover > .cardBorder{
    opacity: 1;
    transition-duration: 2s;
}

.cardContent {
    height: 17.7rem;
    max-width: 99% !important;
    position: relative;
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 !important;
    gap: 3rem;
    border-radius: inherit;
    /*background-color: rgb(7, 7, 7);*/
    z-index: 997;
}

.oil {
    background-image: url(../Images/Remenje.jpg);
    background-size: cover;
    background-repeat: no-repeat !important;
    opacity: 0.3;
    transition-duration: 1s;
}

.oil:hover {
    opacity: 1 !important;
}

.infoIcon {
    scale: 3;
    color: white;
}

.buildIcon {
    scale: 3.8;
}

.discBrakeIcon {
    scale: 0.7;
    margin-bottom: -2.5rem;
    margin-top: -2.5rem;
    filter: invert();
}


