.infoContainer {
    max-width: 100% !important;
    height: 100vh;
    z-index: 997;
    display: flex !important;
    align-items: center;
    flex-direction: row;
    justify-content:center;
    gap: 0;
}

.infoIconText {
    text-align: center;
    color: white;
    display: flex !important;
    flex-direction: column;
    font-size: 1.7rem;
    font-weight: 500;
}

.infoIcons {
    display: flex !important;
    max-width: 20% !important;
    height: 100%;
    flex-direction: column;
    align-items: flex-end;
    justify-content: baseline;
    padding: 10rem 0 10rem 0;
    gap: 10rem;
}

.infoGrid {
    justify-content: center;
    padding-bottom: 5rem;
}

.infoDiv {
    height: 18rem;
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 0 !important;
    gap: 2rem;
    background-color: rgba(255, 255, 255, 0.02);
    border: 1px solid rgba(255, 255, 255, 0.1);
    position: relative;
}

.infoDiv::before {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 997;
    transition-duration: 0.5s;
    opacity: 0;

}

.infoDiv:hover::before {
    opacity: 1;
    background: radial-gradient(
        800px circle at var(--mouse-x) var(--mouse-y),
        rgba(255,255,255, 0.06),
        transparent 40%
    );
}

.infoIcon {
    scale: 3;
    color: white;
}

.buildIcon {
    scale: 3.8;
}

.infoMechanics {
    background-color: rgb(16, 16, 63);
    max-width: 100% !important;
    height: 100vh;
    display: flex !important;
    padding: 0 !important;
}

.mechanicImg {
    max-width: 50%;
    background-color: purple;
    height: 100%;
}

.mechanicText {
    max-width: 50%;
    background-color: gray;
    height: 100%;
}

