.locationContainer {
    max-width: 100% !important;
    height: 25%;
    padding: 0 !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.mapHeading {
    color: white;
    text-align: center;
}

.mapContainer {
    max-width: 100% !important;
    height: 70%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
}

.map {
    height: 100%;
    width: 50%;
    border: 0 !important;
    filter: invert(0%);
}