.topNav {
    background-color: black;
    max-width: 100% !important;
    height: 5rem;
    position: fixed;
    z-index: 999 !important;

    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 0 !important;
    gap: 1rem;
}

.siteName {
    font-size: 2.5rem;
    text-align: left;
    margin-left: 2rem;
}

.nav {
    height: 100%;
    max-width: 35% !important;
    margin: 0 !important;

    display: flex !important;
    justify-content: space-around;
    align-items: center;
    padding: 0 !important;
}

.linkDiv {
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: rgb(150, 150, 150);
    transition-duration: 0.5s;
}

.linkDiv:hover {
    color: white;
    cursor: pointer;
}

.contactRef {
    position: absolute;
    top: 400%;
}

.locationRef {
    position: absolute;
    top: 308%;
}

@media screen and (max-width: 767px) {
    .linkDiv {
        font-size: 0.8rem;
        max-width: 33% !important;
    }

    .contactRef {
        position: absolute;
        top: 430%;
    }
    
    .locationRef {
        position: absolute;
        top: 310vh;
    }
    .siteName {
        font-size: 2rem;
        text-align: left;
        margin-left: 0.5rem;
    }
}