.topNav {
    background-color: black;
    max-width: 100% !important;
    height: 6rem;

    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 0 !important;
}

.siteName {
    font-size: 2.5rem;
    width: 30%;
    text-align: center;
}

.nav {
    height: 100%;
    background-color: black;
    max-width: 35% !important;
    margin: 0 !important;
}