.welcomeContainerBg {
    background-image: url(../Images/Remenje.jpg);
    max-width: 100% !important;
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat !important;
    opacity: 0.3;
    top: 0;
    position: absolute !important;
    z-index: 1;
}

.welcomeContainer {
    color: white;
    max-width: 100% !important;
    height: 90vh;
    padding: 5rem 0 0 0 !important;
}

.welcomeHeader {
    position: absolute !important;
    left: 50%;
    text-align: center;
    top: 30%;
    transform: translate(-50%, -50%);
    opacity: 1 !important;
    z-index: 998;
    font-size: 4rem
}

.welcomeText {
    position: absolute !important;
    text-align: center;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    opacity: 1 !important;
    z-index: 998;
    font-size: 1.7rem
}

.scrollButton {
    background-color: white !important;
    color: black !important;
    opacity: 1 !important;
    position: absolute !important;
    width: 5rem;
    height: 5rem;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50% !important;
    animation: upDown 1500ms infinite forwards linear;
    z-index: 999;
}

.scrollButton:hover {
    animation: rotate360 200ms forwards linear;
}

@keyframes upDown {
    0% {
        transform: translate(-50%, -50%)
    } 50% {
        transform: translate(-50%, -62%)
    } 100% {
        transform: translate(-50%, -50%)
    }
}

@keyframes rotate360 {
    0% {
        transform: rotateZ(0deg) translate(-50%, -50%);
        transform-origin: 0% 0%;
        scale: 1;
    } 100% {
        transform: rotateZ(-360deg) translate(-50%, -50%);
        transform-origin: 0% 0%;
        scale: 1.1;
    }
}

.arrowIcon {
    scale: 1.3;
}


