.welcomeContainerBg {
    background-image: url(../Images/Remenje.jpg);
    max-width: 100% !important;
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat !important;
    opacity: 0.2;
    top: 0;
    position: absolute !important;
    z-index: 1;
}

.welcomeContainer {
    color: white;
    max-width: 70% !important;
    position: absolute !important;
    height: 90vh;
    margin: 0 0 0 0 !important;
    padding-bottom: 5rem;
    z-index: 996;
    opacity: 1 !important;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    gap: 3rem;
    animation: leftRight 350ms ease-in-out forwards;
}

.welcomeHeader {
    font-size: 4rem
}

.welcomeText {
    font-size: 1.7rem;
    max-width: 100%;
}

.scrollButton:hover {
    animation: rotate360 200ms forwards linear;
}

@keyframes upDown {
    0% {
        transform: translate(-50%, -50%)
    } 50% {
        transform: translate(-50%, -60%);
    } 100% {
        transform: translate(-50%, -50%);
        width: 5rem;
    }
}

@keyframes rotate360 {
    0% {
        transform: rotateZ(0deg) translate(-50%, -50%);
        transform-origin: 0% 0%;
        scale: 1;
    } 100% {
        transform: rotateZ(-360deg) translate(-50%, -50%);
        transform-origin: 0% 0%;
        scale: 1.1;
    }
}

.arrowIcon {
    scale: 1.3;
}

@keyframes leftRight {
    0% {
        left: -100%;
        transform: translate(-50%);
        opacity: 0; 
    } 93% {
        left: 54%;
        transform: translate(-50%);
    } 100% {
        left: 50%;
        transform: translate(-50%);
        opacity: 1;
    }
}


/* Media query for mobile devices */
@media screen and (max-width: 767px) {
    .welcomeHeader {
        font-size: 3rem; /* Adjust font size for smaller screens */
    }

    .welcomeText {
        font-size: 1.3rem; /* Adjust font size for smaller screens */
        gap: 1rem; /* Reduce the gap between elements */
    }
}